Package: unattended-upgrades
Version: 0.82.1ubuntu2.5.1
Architecture: all
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Installed-Size: 252
Depends: debconf (>= 0.5) | debconf-2.0, debconf, python3, python3-apt, apt-utils, apt, ucf, lsb-release, lsb-base (>= 3.2-14), xz-utils
Suggests: bsd-mailx, mail-transport-agent
Section: admin
Priority: optional
Description: automatic installation of security upgrades
 This package can download and install security upgrades automatically
 and unattended, taking care to only install packages from the
 configured APT source, and checking for dpkg prompts about
 configuration file changes.
 .
 This script is the backend for the APT::Periodic::Unattended-Upgrade
 option.
Original-Maintainer: Michael Vogt <mvo@debian.org>
