Package: unattended-upgrades
Version: 0.76ubuntu1.2.1
Architecture: all
Maintainer: Michael Vogt <michael.vogt@ubuntu.com>
Installed-Size: 228
Depends: debconf (>= 0.5) | debconf-2.0, debconf, python, python-apt (>= 0.7.90), apt-utils, apt, ucf, lsb-release
Suggests: bsd-mailx
Section: admin
Priority: optional
Description: automatic installation of security upgrades
 This package can download and install security upgrades automatically
 and unattended, taking care to only install packages from the
 configured APT source, and checking for dpkg prompts about
 configuration file changes.
 .
 This script is the backend for the APT::Periodic::Unattended-Upgrade
 option.
